@import "../variables/colors";

@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Blinker:wght@300&family=Fredoka&family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

.container {    
    font-family: 'Fredoka', sans-serif;
    padding: 80px 40px 118px 50px;
}

.name {
    margin-bottom: 20px;
    h1{
        font-size: 50px;
        margin-bottom: 5px;
        color: $white;
    }
    p{
        font-size: 25px;
        color: $grey;
    }
}

.social-icons {
    margin-bottom: 80px;
    padding: 5px 5px 5px 0;
    color: $grey;
}

.about {
    color: $white;
    margin-bottom: 50px;
    h2{
        margin-bottom: 15px;
    }
    p{
        color: $grey;
    }
}